@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

/* navlink style */
a:hover {
  color: #3B82F6;
}

.active {
  background-color: #22C55E;
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
}

.active:hover {
  color: black;
}

/* top section/banner style */

.top-section {
  background-image: url('./assets/Top-section.jpg');
  background-size: cover;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

/* button styles */
.button {
  padding: 8px 12px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  background-color: #22C55E;
  border-radius: 8px;
  transition: all ease 1s;
}

.button:hover {
  color: black
}


/* card button style */
.card-button,
.card-details-button {
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #3B82F6;
  color: black;
  border-radius: 8px;
  transition: all ease 0.8s;
}

.card-button {
  position: absolute;
  bottom: 30px;
}

.card-details-button {
  margin-top: 15px;
}

.card-button:hover,
.card-details-button:hover {
  color: white;
}


/* input field styles */
.input {
  border: 2px solid lightgrey;
  padding: 3px 4px;
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: white;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


/* modal styles */
.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.modalActive {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  transition: all ease 1s;
}